/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
}

/* Header */
header {
    background-color: #ffffff;
    color: #00b5cd; /* Cambiado el color del texto a azul */
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row; /* Alineación en fila */
    justify-content: space-between; /* Distribuye los elementos en ambos extremos */
    align-items: center; /* Centrar verticalmente */
}

/* Ajustes para el logo en el encabezado */
header img {
    max-height: 100px; /* Ajusta la altura máxima del logo */
    margin-right: 20px; /* Agrega espacio entre el logo y el título */
    border-radius: 50%; /* Agregar un poco de redondez a la imagen */
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0; /* Elimina el margen del título */
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #00b5cd;
    font-weight: bold;
}

.buscar-button {
    background-color: #555;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



/* Banner */
#banner {
    background-color: #00b5cd; /* Cambiado el color del banner a azul */
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.banner-info {
    margin-right: 20px;
}

.banner-info h2 {
    font-size: 3.5em;
    color: #FFA500;
}

.banner-info p {
    line-height: 1.6;
    font-size: 1.5em;
    margin-top: 10px;
}

.banner-images img {
    max-width: 517px;
    height: auto;
    border-radius: 8px;
    margin-top: 0;
    margin-bottom: 10px;
}

/* Contenido Principal */
main {
    margin-top: 20px;
}

/* Galería de Objetos */
#objetos {
    text-align: center; /* Centrar el contenido dentro de la sección */
}

/* Contenedor para centrar horizontalmente las frutas */
.objetos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Estilos para cada fruta */
.objeto1,
.objeto2,
.objeto3,
.objeto4,
.objeto5,
.objeto6 {
    width: calc(33.33% - 40px); /* Ancho del 33.33% con un espacio entre las frutas */
    box-sizing: border-box; /* Incluye el borde y el relleno en el cálculo del tamaño */
    display: inline-block;
    text-align: center; /* Centrar el texto a la izquierda dentro de cada fruta */
    margin: 20px;
    position: relative; /* Añadir posición relativa para el efecto de resaltado */
    vertical-align: top; /* Alinear la parte superior de los elementos */
}

/* Establecer el margen solo en un lado para evitar desbordamientos en la línea */
.objeto1,
.objeto2,
.objeto3 {
    margin-bottom: 20px;
}

/* Establecer el margen solo en un lado para evitar desbordamientos en la línea */
.objeto4,
.objeto5,
.objeto6 {
    margin-top: 20px;
}

.objeto1 img,
.objeto2 img,
.objeto3 img,
.objeto4 img,
.objeto5 img,
.objeto6 img {
    max-width: 100%;
    height: 150px; /* Establecer la altura deseada para las imágenes */
    object-fit: cover; /* Ajustar el tamaño manteniendo la proporción y recortando si es necesario */
    border-radius: 8px;
    margin-bottom: 10px; /* Agregar espacio debajo de la imagen */
}

.objeto1 p,
.objeto2 p,
.objeto3 p,
.objeto4 p,
.objeto5 p,
.objeto6 p {
    margin: 5px 0; /* Añadir un pequeño margen entre las descripciones */
}

/* Efecto de Resaltado al pasar el mouse */
.objeto1:hover,
.objeto2:hover,
.objeto3:hover,
.objeto4:hover,
.objeto5:hover,
.objeto6:hover {
    background-color: #f0f0f0; /* Cambiar el color de fondo al pasar el mouse */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agregar una sombra suave */
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    /* Cambié 'fixed' a 'relative' */
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Contenedor para centrar los elementos del footer */
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info,
.social-buttons {
    flex: 1;
}

/* Ajustes de estilo para los enlaces sociales en el footer */
.social-buttons a {
    background-color: #555;
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.social-buttons a:hover {
    background-color: #777;
}


