/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
}

/* Header */
header {
    background-color: #ffffff;
    color: #00b5cd;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Ajustes para el logo en el encabezado */
header img {
    max-height: 100px;
    margin-right: 20px;
    border-radius: 50%;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #00b5cd;
    font-weight: bold;
}

.buscar-button {
    background-color: #555;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Preguntas y Respuestas */
#preguntas {
    text-align: center;
}

.faq-section {
    margin-bottom: 40px;
}

.faq-item {
    margin-top: 20px;
}

.question,
.answer {
    margin: 0;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info,
.social-buttons {
    flex: 1;
}

.social-buttons a {
    background-color: #555;
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.social-buttons a:hover {
    background-color: #777;
}

/* Estilos para preguntas y respuestas correctas */
.correcta {
    background-color: #8eff8e; /* Color de fondo para respuestas correctas */
    border: 1px solid #00b300; /* Borde para respuestas correctas */
}

/* Estilos para preguntas y respuestas incorrectas */
.incorrecta {
    background-color: #ff8e8e; /* Color de fondo para respuestas incorrectas */
    border: 1px solid #ff3333; /* Borde para respuestas incorrectas */
}
